[Unit]
Description=Exporting rtl_433 weather-station metrics to Prometheus/VictoriaMetrics
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/peckato1/ws90-prometheus

[Service]
Type=simple
PIDFile=/run/rtl433-meteo.pid
ExecStart=/usr/bin/rtl433-meteo --log=systemd --log-level=debug --clear 120
Restart=always

[Install]
WantedBy=multi-user.target
