[Unit]
Description=Pushing rtl_433 weather-station metrics to VictoriaMetrics
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/peckato1/ws90-prometheus

[Service]
Type=simple
PIDFile=/run/rtl433-meteo.pid
ExecStart=/usr/bin/rtl433-meteo http://localhost:8428 --log=systemd --log-level=debug
Restart=always

[Install]
WantedBy=multi-user.target
